.App {
  text-align: center;
}

.navbar{
  margin-bottom: 30px;
}

.btn-primary {
  margin-bottom: 20px;
}

.fa {
  cursor: pointer;
}

.list-group {
  cursor: pointer;
}

.sortColumn{
  cursor: pointer;
}

.navbar-right{
  position: absolute;
  right: 50px;
}