.App {
  text-align: center;
}

/*no   need for grid cause did with bootstrap row/column


.container{
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 30px;
  grid-auto-flow: column;
  
}

.sidebar{
  grid-column: auto;
  padding-top: 10px
}

.main-section{
  grid-column: auto;
}
*/

.fa {
  cursor: pointer;
}

.list-group {
  cursor: pointer;
}

.sortColumn{
  cursor: pointer;
}